<div class="sign-up">
    <div class="title">Sign Up</div>
    <mat-card>
        <span *ngIf="error && !userCreated" class="errorText">There was an error signing you up.</span>
        <span *ngIf="userCreated" class="userCreatedText">You have been signed up. Log in at the home page.</span>
        <mat-card-content>
            <form class="signup-form">
                <mat-form-field class="full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First name" name="fname" required [(ngModel)]="firstName">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" name="lname" required [(ngModel)]="lastName">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" name="email" required [(ngModel)]="email">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" [type]="'password'" name="password" required [(ngModel)]="password">
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card-actions>
        <button mat-raised-button (click)="signUp()" color="primary">SIGN UP</button>
        <button mat-button routerLink="/">GO HOME</button>
    </mat-card-actions>
</div>
