<div class="title">
    <div>Your tasks</div>
    <div class="title-description">Click on a task to edit it and start your timer.</div>
</div>
<div class="loads-container">
    <div *ngFor="let task of tasks" class="load-item">
        <div class="load-description">{{ task.Description }}</div>
        <div class="priceAndEdit">
            <span class="edit-load" [routerLink]="['/tasks', task.id, 'edit']"><mat-icon>settings</mat-icon></span>
        </div>
    </div>
    <div class="add-new" [routerLink]="['add']">
        <mat-icon>add</mat-icon>
    </div>
</div>
